{% load static %}

<!-- #FOOTER-->
<footer class="footer" id="contact">
    <div class="container grid-list">

      <div class="footer-brand">

        <a href="#" class="logo">
          <img src="{% static 'images/logo.svg' %}" width="74" height="24" alt="Adex home">
        </a>

        <p class="footer-text">
          &copy; 2024 Soraya Cop. <br> Todos os direitos Reservados.
        </p>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>
        </ul>
      </div>

      <ul class="footer-list">
        <li>
          <p class="h4 footer-list-title">Entre em Contato</p>
        </li>
        <li>
          <address class="footer-text">
            Localização: Bairro, Rua - 01, Centro do Estado
          </address>
        </li>

        <li>
          <a href="mailto:info@email.com" class="footer-link">contato@updex.com.br</a>
        </li>

        <li>
          <a href="tel:001234567890" class="footer-link">(12) 3456 - 7890</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Links</p>
        </li>

        <li>
          <a href="#" class="footer-link">Sobre</a>
        </li>

        <li>
          <a href="#" class="footer-link">Nossa Historia</a>
        </li>

        <li>
          <a href="#" class="footer-link">Blog</a>
        </li>
      </ul>

      <div class="footer-list">

        <p class="h4 footer-list-title">Conte com a Gente</p>

        <p class="footer-text">
          "A união é o melhor caminho para alcançar o sucesso!".
        </p>

      </div>

    </div>
  </footer>